body {
  background-color: #F0F0F0;
}

.dropdown-header {
  margin-left: -10px;
}

.dropdown {
  cursor: pointer;
}

.centerMainContainer {
  min-height: 500px;
  margin-top: 10px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
}

#mainRow {
  width: 100%;
}

.page-header {
  margin-top: 0px;
}

#mainTitle,
#secondaryTitle,
#sideContent {
  margin-left: 20px;
}

#mainTitle {
  margin-top: 5px;
  height: 60px;
}

#sideContent {
  margin-top: 5px;
}

#centerContent {
  margin-top: 10px;
}

#footer {
  height: 20px;
  min-height: 20px;
/*  background-color: #1b1b1b; */
}

#psuText {
  color: #6A7F10;
}

#linkSectionTitle {
}

#selfImgCaption {
  margin-top: -15px;
  margin-left: 15px;
}

.linkIcons {
  height: 75px;
  width: 75px;
}

.resumeTime {
  color: gray;
  font-size: 10px;
}

#resumeLinkedin {
  margin-left: 5px;
}
