/* Stylesheet for general elements and classes */

/* Universal elements */
body {
  background-color: #F0F0F0;
}

.centerMainContainer {
  min-height: 800px;
  margin-top: 10px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
}

#centerContent {
  margin-top: 10px;
}

#footer {
  height: 20px;
  min-height: 20px;
/*  background-color: #1b1b1b; */
}

#mainRow {
  width: 100%;
}

#mainTitle,
#secondaryTitle,
#projectDescription,
#sideContent {
  margin-left: 20px;
}

#mainTitle {
  margin-top: 25px;
  height: 60px;
}

#sideContent {
  margin-top: 5px;
}

/* Home View elements */
#psuText {
  color: #6A7F10;
}

/* Resume View Elements */
.resumeItemYearRange {
  color: gray;
  font-size: 10px;
}

/* Project View Elements */
#rookyReflectionTabs {
  margin-left: 55px;
}

#rubyTitleText {
  color: #9b111e;
}

#javascriptTitleText {
 color: #00CC66;
}

#puppetTitleText {
  color: #7C6AAB;
}

#projRunawayText {
  margin-top: -30px;
}

#barcampText {
  color: #d85a1a;
}

/* Blog Elements */
.blogParagraph {
  text-indent: 30px;
}

.blogPostPreview {
  margin-left: 40px;
}

#blogSideBar {
  border-left-style: solid;
  border-width: 3px;
  border-color: #C8C8C8;
}
