body {
  background-color: #F0F0F0;
}

.dropdown {
  cursor: pointer;
}

.centerMainContainer {
  min-height: 500px;
  margin-top: 25px;
  background-color: #FFFFFF;
}

#mainRow {
  width: 100%;
}

#mainTitle,
#secondaryTitle,
#sideContent {
  margin-left: 30px;
}

#mainTitle {
  margin-top: 40px;
  height: 60px;
}

#sideContent {
  margin-top: 30px;
}

#centerContent {
  margin-top: 30px;
}

#footer {
  height: 25px;
/*  background-color: #1b1b1b; */
}

#footer p {
  margin-top: 10px;
}
