/* Stylesheet for image related attributes */
.projectIntroImg {
  height: 500px;
  width: 800px;
}

.projectIntroImgMulti {
  height: 250px;
  width: 350px;
  display: inline-block;
}

.rookyAlgorithmImg {
  height: 200px;
  width: 200px;
}

.socialIconLink {
  margin-left: 4px;
}

#resumeLinkedinLink {
  margin-top:10px;
  margin-left: 3px;
}

#selfPortraitCaption {
  margin-top: -15px;
  margin-left: 15px;
}

#socialLinkSectionCaption {
  margin-top: 10px;
  font-size: 12px;
}
