/* Stylesheet for image related attributes */
.projectIntroImg {
  height: 500px;
  width: 800px;
}

.projectIntroImgMulti {
  height: 250px;
  width: 350px;
}

.rookyAlgorithmImg {
  height: 200px;
  width: 200px;
}

.socialIconLink {
  margin-left: 4px;
}

#socialCircleTwitter {
  height: 60px;
  width: 60px;
}

#socialCircleGoogle {
  margin-left: -2px;
  height: 65px;
  width: 65px;
}

#resumeLinkedinLink {
  margin-top:10px;
  margin-left: 3px;
}

#selfPortraitCaption {
  margin-top: -15px;
  margin-left: 15px;
}

#socialLinkSectionCaption {
  margin-top: 10px;
  font-size: 12px;
}
