<!-- Upper title bar -->
<div class='page-header'>
  <div class='row'>
    <div id='mainTitle' class='col-md-6'><h1>Courses</h1></div>
  </div>
</div>

<div class='page-content'>
<!-- Left side bar -->
  <div class='row'>
    <div id='mainContent' class='col-md-12'>
      <div class='dl-horizontal'>
        <dt>Computer Science</dt>
          <dd><span class='resumeItemYearRange'>CS 162</span> - Introduction to Computer Science</dd>
          <dd><span class='resumeItemYearRange'>CS 163</span> - Data Structures</dd>
          <dd><span class='resumeItemYearRange'>CS 201</span> - Computer Systems Programming</dd>
          <dd><span class='resumeItemYearRange'>CS 202</span> - Programming Systems</dd>
          <dd><span class='resumeItemYearRange'>CS 250</span> - Discrete Structures I</dd>
          <dd><span class='resumeItemYearRange'>CS 251</span> - Discrete Structures II</dd>
          <dd><span class='resumeItemYearRange'>CS 300</span> - Elements of Software Engineering</dd>
          <dd><span class='resumeItemYearRange'>CS 305</span> - Social, Ethical, and Legal Issues</dd>
          <dd><span class='resumeItemYearRange'>CS 311</span> - Computational Structures</dd>
          <dd><span class='resumeItemYearRange'>CS 321</span> - Languages and Compiler Design I</dd>
          <dd><span class='resumeItemYearRange'>CS 322</span> - Languages and Compilers Design II</dd>
          <dd><span class='resumeItemYearRange'>CS 333</span> - Introduction to Operating Systems</dd>
          <dd><span class='resumeItemYearRange'>CS 350</span> - Algorithms and Complexity</dd>
          <dd><span class='resumeItemYearRange'>CS 410</span> - Software Testing</dd>
          <dd><span class='resumeItemYearRange'>CS 442</span> - Advanced Artificial Intelligence</dd>
          <dd><span class='resumeItemYearRange'>CS 469</span> - Software Engineering Capstone I (in progress)</dd>
          <dd><span class='resumeItemYearRange'>CS 486</span> - Introduction to Database Management Systems</dd>
          <dd><span class='resumeItemYearRange'>CS 498</span> - Introduction to Wireless Networking</dd>
        <dt>Mathematics</dt>
          <dd><span class='resumeItemYearRange'>MTH 251</span> - Calculus I</dd>
          <dd><span class='resumeItemYearRange'>MTH 252</span> - Calculus II</dd>
          <dd><span class='resumeItemYearRange'>MTH 253</span> - Calculus III</dd>
          <dd><span class='resumeItemYearRange'>MTH 261</span> - Introduction to Linear Algebrea</dd>
          <dd><span class='resumeItemYearRange'>MTH 356</span> - Discrete Mathematics</dd>
          <dd><span class='resumeItemYearRange'>STAT 451</span> - Applied Statistics for Engineers I (in progress)</dd>
        <dt>Other</dt>
          <dd><span class='resumeItemYearRange'>ECE 341</span> - Computer Hardware</dd>
          <dd><span class='resumeItemYearRange'>WR 227</span> - Intro to Technical Writing</dd>
          <dd><span class='resumeItemYearRange'>BI 251</span> - Principles of Biology I</dd>
          <dd><span class='resumeItemYearRange'>BI 252</span> - Principles of Biology II</dd>
          <dd><span class='resumeItemYearRange'>BI 253</span> - Principles of Biology III</dd>
          <dd><span class='resumeItemYearRange'>G 201</span> - Geology I</dd>

          <dd><span class='resumeItemYearRange'>UNST 230G</span> - Freedom, Privacy and Technology</dd>
          <dd><span class='resumeItemYearRange'>UNST 242C</span> - Leading Social Change</dd>
          <dd><span class='resumeItemYearRange'>UNST 236E</span> - Interpreting The Past</dd>
          <dd><span class='resumeItemYearRange'>PHL 310U</span> - Environmental Ethics</dd>
          <dd><span class='resumeItemYearRange'>PHL 306U</span> - Science & Pseudoscience</dd>
          <dd><span class='resumeItemYearRange'>PHL 314U</span> - Computer Ethics</dd>

      </div>
    </div>
  </div>
</div>
