<!-- Upper title bar -->
<div class='page-header'>
  <div class='row'>
    <div id='mainTitle' class='col-md-6'><h1>My Calendar</h1></div>
  </div>
  <div class='row'>
    <div id='secondaryTitle' class='col-md-12'><p class='lead'>My up-to-date course schedule.</p></div>
  </div>
</div>

<div class='page-content'>
<!-- Left side bar -->
  <div class='row'>
    <div id='mainContent' class='col-md-12'>
      <iframe src="https://www.google.com/calendar/embed?src=w.hopper922%40gmail.com&ctz=America/Los_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
</div>
