<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

<!-- Upper title bar -->
<div class='page-header'>
  <div class='row'>
    <div id='mainTitle' class='col-md-6'><h1>MiniJava Compiler</h1></div>
  </div>
  <div class='row'>
    <div id='secondaryTitle' class='col-md-12'><p class='lead'>A MiniJava compiler written in <span id='rubyTitleText'>Java</span>.</p></div>
  </div>
</div>

<div class='page-content'>
<!-- Left side bar -->
  <div class='row'>
    <div id='mainContent' class='col-md-11'><br>
      <p>For Portland State's compiler course, students are required to write a complete compiler for the MiniJava language, a subset of Java. First term objectives focus around creating the front-end of the compiler, including lexical analysis, parsing, and static analysis / type checking.</p>
      <ul>
      Due to the fact that this is coursework that doesn't change much term to term, the source is closed-source, in a private repository.
      </ul>
    </div>
    <div class='col-md-offset-1'>
      <img class='img-responsive projectIntroImg' src='img/compiler1.png'>
    </div>
    <div class='col-md-12'>
      <h2>Lexical Analysis</h2>
        <p class='projectDescParagraph'>Lexer description in progress.</p>

<pre class='prettyprint'>
  Lexer code to be here.
</pre><br>

      <h2>Parsing</h2>
        <p class='projectDescParagraph'>Parser description in progress.</p>
<pre class='prettyprint'>
  Parser code to be here.
</pre><br>

      <h2>Type Checking</h2>
        <p class='projectDescParagraph'>Type checking description in progress.</p>

<pre class='prettyprint'>
  Type checking code to be here.
</pre><br>


        </div>
      <br>
    </div>
  </div>
</div>
