<!-- Upper title bar -->
<div class='page-header'>
  <div class='row'>
    <div id='mainTitle' class='col-md-6'><h1>D3.js Talk</h1></div>
  </div>
  <div class='row'>
    <div id='secondaryTitle' class='col-md-12'><p class='lead'>A presentation for <a id='barcampText' href='http://beaverbarcamp.org/'>Beaver Barcamp 2014</a> about data visualization on the web.</p></div>
  </div>
</div>

<div class='page-content'>
<!-- Left side bar -->
  <div class='row'>
    <div id='mainContent' class='col-md-11'><br>
      <ul>
        <li>Slideshow and talk overview coming soon!</li>
      </ul>
    </div>
  </div>
</div>
