<!-- Upper title bar -->
<div class='page-header'>
  <div class='row'>
    <div id='mainTitle' class='col-md-6'><h1>How to Contribute</h1></div>
  </div>
  <div class='row'>
    <div id='secondaryTitle' class='col-md-12'><p class='lead'>A presentation for <span id='pconfText'>PuppetConf 2016</span> about contributing to Puppet open source projects. </p></div>
  </div>
</div>

<div class='page-content'>
<!-- Left side bar -->
  <div class='row'>
    <div id='mainContent' class='col-md-11'><br>
    <div class='col-md-offset-1'>
        <p>This presentation was designed to help new contributors get up to speed on all of the necessary steps for contributing to Puppet open source projects. It was delivered at the <a href='https://puppet.com/puppetconf/contributor-summit'>PuppetConf 2016 Contributor Summit</a>. The focus of the talk was technical, but also provided some general reassurance about the helpfulness of the community.</p>

        <p>We pride ourselves on inclusivity at Puppet, and I greatly appreciated having the opportunity to co-present this topic to the audience.
    </div><br>
    <div class='col-md-offset-3'>
      <iframe src="https://docs.google.com/presentation/d/13mGzAT0yxnK0wMOD8rusqqVWYraXr7jEZRGom2sOl4Q/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      <img src='img/me_pconf.jpg' width="480" height="450">
    </div>
  </div>
</div>
