<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

<!-- Upper title bar -->
<div class='page-header'>
  <div class='row'>
    <div id='mainTitle' class='col-md-6'><h1>Vmify</h1></div>
  </div>
  <div class='row'>
    <div id='secondaryTitle' class='col-md-12'><p class='lead'>A commandline utility for virtual machine management written in <span id='rubyTitleText'>Ruby</span> using the <a href='https://rubygems.org/gems/cri'>CRI</a> gem.</p></div>
  </div>
</div>

<div class='page-content'>
<!-- Left side bar -->
  <div class='row'>
    <div id='mainContent' class='col-md-11'><br>
      <p>
      Vmify is a command-line utility written for internal use by Puppet Labs developers. It acts as a wrapper around an in-house VM provisioning and distribution application, and strives to make getting a VM of any platform effortless.
      </p>
      <ul>
        <li><a href='https://github.com/whopper/WorkScripts/blob/master/vmify/vmify'>Vmify </a>on GitHub</li>
      </ul>
    </div>
    <div class='col-md-offset-1'>
      <img class='img-responsive projectIntroImg' src='img/vmify-help.png'>
    </div>
    <div class='col-md-12'>
      <h2>Purpose</h2>
        <p class='projectDescParagraph'>
      I currently work on several projects which are supported across dozens of operating systems, platforms and distributions. Luckily, the Quality Engineering team at Puppet Labs has developed a killer VM provisioning system which allows developers to send a short request to the VM pooler API and immediately receive the hostname to a fresh system, which can be logged into and used for development and testing.
      </p>

        <p class='projectDescParagraph'>
      This process revolves around a few `curl` commands to talk with the aforementioned API. Vmify's purpose is to abstract these away and provide a simple, unified command-line utility to get VMs on demand.
        </p>
      <h2>Tool Selection</h2>
        <p class='projectDescParagraph'>
        Vmify was originally written as a plain Ruby shell script. While this worked for the most part, I found that I wished for an easier way to extend the application when I needed to add more command-line options. I decided to re-implement the script using the <a href='https://rubygems.org/gems/cri'>CRI</a> gem, which allowed me not only to easily extend `vmify`, but also make the code much cleaner and the output much more aesthetically pleasing.</p>
      <h2>Implementation</h2>
        <p class='projectDescParagraph'>
          The general goal of Vmify is simple: allow all options to be quickly passed into the utility for instant creation and connection to a VM, or prompt for options if they are not provided. This allows the user to explore which platforms and operating system versions are available.
        </p>
        <pre class='prettyprint'>
  5 command = Cri::Command.define do
  6   name        'vmify'
  7   usage       'vmify [options] [arguments]
  8
  9                Example: vmify -o fedora -v 20 -a x64 -c'
 10
 11   summary     'A wrapper around Puppet Labs\' internal VMPooler system.'
 12   description 'Used to quickly create and access VMPooler virtual
 13                machines. Requires the internal Puppet Labs acceptance
 14                SSH keys.'
 15
 16   flag   :h,  :help,  'show help for this command' do |value, cmd|
 17     puts cmd.help
 18     exit 0
 19   end
 20
 21   option :o, :operatingsystem, 'specify operating system', argument: :optional
 22   option :v, :version,  'specify version', argument: :optional
 23   option :a, :arch, 'specify architecture', argument: :optional
 24   option :c, :connect, 'remote into newly allocated VM', argument: :optional
 25   option :r, :remove, 'destroy an allocated vm by hostname', argument: :optional
 26
 27   run do |opts, args, cmd|
 28
 29     if opts[:remove]
 30       remove_vm(opts.fetch(:remove))
 31     else
 32       os        = opts.fetch(:operatingsystem) if opts[:operatingsystem]
 33       version   = opts.fetch(:version)         if opts[:version]
 34       arch      = opts.fetch(:arch)            if opts[:arch]
 35
 36       curl_string = build_curl_string(os, version, arch)
 37       hostname = request_vm(curl_string)
 38
 39       if opts[:connect]
 40         connect_vm(hostname)
 41       else
 42         puts "Your VM is up! FQDN: #{hostname}.delivery.puppetlabs.net. Thanks for flying vmify!"
 43       end
 44     end
 45   end
 46 end
        </pre>
      <p class='text-muted'>
        The main logic of Vmify. Build a string from given arguments to build the
        string to `curl` to the VM pooler API. If required arguments aren't given,
        prompt for them.
      </p>
    </div>
  </div>
</div>
