The previously mentioned scoring algorithm is actually rather simple. Each piece type is assigned a static value. A pawn, for example, may be worth 100 points. The current player may then find a move in which they capture an enemy pawn, which would increase the net score in their favor by 100 points.<br><br>Though effective enough to get an AI playing the game, this scoring system is not enough on its own. Other rules must be hardcoded in as well in order to elevate the 'strategy' of the AI, particularly in the early game. To do this, score values can be adjusted based on board location as well as piece type. One may provide incentive for the AI to move out its pawns early in the match by increasing the point value for movement of pawns out of starting positions.<br><br>
<pre>  def scoreGen(aState, color)
  # Returns the score of a state the will exist if the given move is executed.
  # The score value is the score of the state that the opponent will receive,
  # so the lower the number the 'better' for the side onMove

    # Generate a score for this state --- my score - enemy
    whiteScore = 0
    blackScore = 0
    boardIndex = -1
    aState.flatten.each do |p|
      boardIndex += 1
      case p
        when 'P'
          whiteScore += 1000
          if boardIndex == (11..13) or boardIndex == (16..18)
            whiteScore += 300
          end
        when 'Q'
          whiteScore += 9000
          if boardIndex == (11..13) or boardIndex == (16..18)
            whiteScore += 500
          end
        when 'K'
          whiteScore += 100000
          if boardIndex != 4
            whiteScore -= 3000
          end
        when 'B'
          if boardIndex != 2
            whiteScore += 3500
          else
            whiteScore += 3000
          end
          whiteScore += 400 if boardIndex == (11..13)
        when 'N'
          if boardIndex != 1
            whiteScore += 3000
          else
            whiteScore += 2500
          end
          whiteScore += 400 if boardIndex == (11..13)
        when 'R'
          if boardIndex != 0
            whiteScore += 5500
          else
            whiteScore += 5000
          end
          whiteScore += 500 if boardIndex == (10..14)
        when 'p'
          blackScore += 1000
          if boardIndex == (11..13) or boardIndex == (16..18)
            blackScore += 300
          end
        when 'q'
          blackScore += 9000
          if boardIndex == (11..13) or boardIndex == (16..18)
            blackScore += 500
          end
        when 'k'
          blackScore += 100000
          if boardIndex != 25
            blackScore -= 3000
          end
        when 'b'
          if boardIndex != 27
            blackScore += 3500
          else
             blackScore += 3000
          end
          blackScore += 400 if boardIndex == (11..13) or boardIndex == (16..18)
        when 'n'
          if boardIndex != 28
            blackScore += 3000
          else
            blackScore += 2500
          end
        when 'r'
          if boardIndex != 29
            blackScore += 5500
          else
            blackScore += 5000
          end
          blackScore += 500 if boardIndex == (15..19)
      end
    end
    color == 1 ? blackScore = -blackScore : whiteScore = -whiteScore
    stateScore = whiteScore + blackScore
    return stateScore
  end
</pre>
