PREPARED: 04/20/14 - 21:28                          907697264
Hopper, William James                   GRADUATION DATE: XX/XX/XX
PROGRAM CODE: BS-CS                          CATALOG YEAR: 201402
                    PORTLAND STATE UNIVERSITY
             Bachelor of Science - Computer Science
=================================================================
      AT LEAST ONE REQUIREMENT HAS NOT BEEN SATISFIED
=================================================================
                     **** LEGEND ****
NO = Requirement Not Complete     >R = Repeatable Course
OK = Requirement Complete         >- = Credit Reduction
IP = Req. Complete with Current   >X = No Credit/No GPA
     Registration (RE courses)    >D = No Credit/Keeps GPA
- = Sub-req Not Complete          DP = Duplicate course
+ = Sub-req Complete                      with credit and GPA
R = Required Sub-requirement     *** = any character
                                      (i.e. MTH*** means
RE = Current Registration Grade         any math course)
-- = Masked Grade (transfer)       LD = Lower Division Hrs
                                   UD = Upper Division Hrs

 IS = Independent Study Course
 T = Precedes Transfer Grade or grades for special credit types
     types such as AP,CLEP, MIL, EXAM, CORR etc.
 TV = Preceeds Combined Grades (transfer courses)

=================================================================
           ---- TOTAL CREDIT HOUR/GPA REQUIREMENT ----

 The "NEEDS CREDITS" value reflects the credits needed to reach
 the minimum total credits required of 180. It does not represent
 a summary of all the credits needed to meet remaining
 requirements !!
NO     Student must complete a minimum of 180 credit hours,
       72 Upper Division credits, and a cumulative GPA of 2.0 ---
    EARNED:164.00 CREDITS             1 SUB-GROUP
IN-PROGRESS 12.00 CREDITS
--> NEEDS:   4.00 CREDITS             1 SUB-GROUP

  -  1) Minimum of 72 upper division credit hours required --
        ( 30.00 HOURS TAKEN  )
In-Prog-> 12.00 CREDITS
         NEEDS:  30.00 CREDITS

  +  2) A cumulative GPA of 2.0 on all PSU credit is required.
        Your PSU GPA currently is:
                                                   3.50 GPA

        Maximum number of Cooperative Education credits
        allowed toward degree is 12 ---

        Maximum number of credits graded P(pass) allowed
        toward degree is 45 ---

        Maximum number of Correspondence credits allowed toward
        degree is 60 ---

        Maximum number of credits from a 2-year institution
        allowed toward total degree credits is 124 --
          16.00 CREDITS TAKEN
=================================================================
IP     PSU RESIDENCE CREDIT REQUIREMENTS  AND
       PASS/NO PASS LIMITATION
       The status of this requirement may change if additional
       transfer courses/Pass credits are taken in subsequent term
    EARNED:                           2 SUB-GROUPS
  +  1) 45 of last 60 credits must be taken at PSU ---

    OR) 165 of total credits presented must be taken at PSU ---
         128.00 CREDITS TAKEN
In-Prog-> 12.00 CREDITS
  +  2) 25 of the last 45 credits must be for grade (not P/NP)-
=================================================================
University Writing Requirement ~
All students must complete 2 college-level
composition courses or their approved equivalents.
Writing chosen from WR 121, 200, 211, 222, or 227.
Students entering PSU as Freshman will satisfy
this requirement upon the completion of FRINQ and SINQ
OR the first two years of The University Honors Program.
Students entering PSU with 90 or more credits earned
have the option to substitute one of the following upper
division Writing courses: WR 300, WR 323, WR 324, WR 327,
WR 333, WR 394, WR 400, WR 420 or a 4-credit Writing
Intensive Course (WIC) for one of the required Writing
courses.
=================================================================
University Writing Requirement -- Completed
OK     Writing Requirement
    EARNED:                           2 SUB-GROUPS
  +  1) One lower division Writing course -- Completed
        (  5.00 HOURS TAKEN  ) 1 COURSE TAKEN
      Sp11 UNST 116S 00 5.00 A-     WAYS OF KNOWING
        COURSE LIST: WR 121,200,211,222,227
  +  2) Additional Writing Course -- Completed
                               1 COURSE TAKEN
      Sp12 UNST 230G 00 4.00 A      FREEDOM/PRIVACY/TECH
        COURSE LIST: WR 200,211,222,227,300,323,324,327,333,
           WR 394,400,420
=================================================================
OK     Bachelor of Science Requirements -- Completed
    EARNED:                           4 SUB-GROUPS
      Fa10 MTH  111  00 4.00 A      INTRO COLL MATH I
      Wi11 G    201  00 3.00 C+     GEOLOGY
      Fa11 BI   251  00 5.00 B+     PRINCIPLES OF BIOLOGY
      Wi12 BI   252  00 5.00 C+     PRINCIPLES OF BIOLOGY
      Fa10 ENG  100     4.00 TP     INTRO TO LITERATURE
                                    AP      : AP 37
      Fa10 HST  101     4.00 TP     HISTORY OF WESTERN CIVL
                                    AP      : AP 43
      Fa10 HST  102     4.00 TP     HISTORY OF WESTERN CIVL
                                    AP      : AP 43
=================================================================
UNIVERSITY STUDIES REQUIREMENTS (UNST) --
For detailed information on the following general education
requirements see the PSU Bulletin, the quarterly
Class Schedule, or the UNST website at www.ous.pdx.edu.



=================================================================
OK     UNIVERSITY STUDIES - Sophomore Inquiry Completed
    EARNED:                           3 SUB-GROUPS
          NOTE: RU - UNST PLACEMENT = 36 CR
      Sp12 UNST 230G 00 4.00 A      FREEDOM/PRIVACY/TECH
      Fa12 UNST 242C 00 4.00 A      LEADING SOCIAL CHANGE
      Wi13 UNST 236E 00 4.00 A-     INTERPRETING THE PAST
=================================================================
IP     UNIVERSITY STUDIES - Upper Division Cluster Completed.
    EARNED:                           1 SUB-GROUP
  + 11) Freedom, Privacy, & Technology Cluster
        Choose 12 credits ---
           8.00 CREDITS TAKEN
In-Prog->  4.00 CREDITS
      Wi13 PHL  310U 00 4.00 A-     ENVIRONMENTAL ETHICS
      Fa13 PHL  306U 00 4.00 A      SCIENCE & PSEUDOSCIENCE
      Sp14 PHL  314U 00 4.00 RE     COMPUTER ETHICS
    16) Leading Social Change Cluster
        Choose 12 credits ---
           4.00 CREDITS TAKEN
      Wi13 PHL  310U 00 4.00 A-     ENVIRONMENTAL ETHICS
         NEEDS:   8.00 CREDITS
=================================================================
NO     COMPUTER SCIENCE MAJOR REQUIREMENTS
       --- Complete all  subgroups below ---
       All CS courses used to satisfy major requirements
       must be passed with a grade of C or above.  Required
       courses taken outside of CS must be passed with a grade
       of C- or above.  Only courses offered Pass/No-Pass Only
       may be applied.
    EARNED:                           7 SUB-GROUPS
--> NEEDS:                            6 SUB-GROUPS
  +  1) Science electives complete --
          19.00 CREDITS TAKEN
      Wi11 G    201  00 3.00 C+     GEOLOGY
      Wi11 G    204  00 1.00 A      GEOLOGY LAB
      Fa11 BI   251  00 5.00 B+     PRINCIPLES OF BIOLOGY
      Wi12 BI   252  00 5.00 C+     PRINCIPLES OF BIOLOGY
      Sp12 BI   253  00 5.00 C+     PRINCIPLES OF BIOLOGY
  +  2) Biology sequence --
                               3 COURSES TAKEN
      Fa11 BI   251  00 5.00 B+     PRINCIPLES OF BIOLOGY
      Wi12 BI   252  00 5.00 C+     PRINCIPLES OF BIOLOGY
      Sp12 BI   253  00 5.00 C+     PRINCIPLES OF BIOLOGY
  +  3) Complete WR 227--
                               1 COURSE TAKEN
      Fa12 WR   227  00 4.00 A-     INTRO TECHNICAL WRTG
  -  4) ARTS & LETTERS and/or SOCIAL SCIENCE REQUIREMENT
        MCECS students seeking a Bachelor of Science degree
        who begin as freshman complete freshman and sophomore
        University Studies (or the University Honors Program)
        and 12 credits of upper division Arts and Letters/
        Social Science (AL/SS) credits. Students may choose
        the A&L/SS credits from their junior cluster.
        MCECS transfers complete the correct number of credits
        of University Studies (or University Honors Program)
        based on their transfer count. In addition, they must
        fulfill AL/SS credits specific to MCECS. This
        requirement will be checked by an advisor in MCECS.
        For graduation purposes, the AL/SS requirement will
        remain not satisfied until the Office of Degree
        Requirements has received department notification that
        it has been satisfied.
  -  5) Complete the following MTH/STAT courses --
                               3 COURSES TAKEN
      Fa11 MTH  251  00 4.00 B      CALCULUS I
      Wi12 MTH  252  00 4.00 B-     CALCULUS II
      Fa12 MTH  253  00 4.00 A   DP CALCULUS III
         NEEDS:                 1 COURSE
        COURSE LIST: STAT 451
  -  6) Choose 7 credits of approved MTH electives from the
        list below --
           4.00 CREDITS TAKEN
      Sp11 MTH  261  00 4.00 B      INTRO TO LINEAR ALGEBRA
         NEEDS:   3.00 CREDITS
        COURSE LIST: MTH 311,343,344,346,356,457,458,461,462
           STAT 366,452,464,467,468
  -  7) Complete COMM 220 or Freshman Inquiry --
         NEEDS:                 1 COURSE
        COURSE LIST: COMM 220  UNST 1*3
  +  8) Complete the following required lower division
        Computer Science courses --
                               6 COURSES TAKEN
      Wi11 CS   162  00 4.00 A      INTRO TO COMPUTER SCIENCE
      Sp11 CS   163  00 4.00 A-     DATA STRUCTURES
      Fa11 CS   202  00 4.00 B+     PROGRAMMING SYSTEMS
      Wi12 CS   201     4.00 TB     COMPUTER SYSTEMS PROGRM
                                    PCC     : CS   201
      Fa12 CS   250  00 4.00 B-     DISCRETE STRUCTURES I
      Wi13 CS   251  00 4.00 B+     DISCRETE STRUCTURES II
  -  9) Complete the following required upper division
        Computer Science courses --
                               3 COURSES TAKEN
      Sp13 CS   300  00 4.00 A      ELEM SOFTWARE ENGR
      Sp13 CS   311  00 4.00 B+     COMPUTATIONAL STRUCTURES
      Fa13 CS   333  00 4.00 A      INTRO TO OPERATING SYSTEMS
         NEEDS:                 6 COURSES
        COURSE LIST: CS 321,322,350,486,469,470
  + 10) Complete CS 305 Social, Ethical, and Legal Implications
        of computing -- 2 credits
                               1 COURSE TAKEN
      Fa13 CS   305  00 2.00 A      SOC/ETH/LGL IMPLCTNS COMPUTNG
  + 11) Complete 12 credits of upper division CS electives --
        No more than 4 credits may be taken from CS 401, 405,
        406, 407, and 409.  May not include CS 340 or 404 or
        any CS "U" course.
           4.00 CREDITS TAKEN
In-Prog->  8.00 CREDITS
      Sp13 CS   442  00 4.00 A      ADV AI:COMBINATOR GAMES
      Sp14 CS   410  02 4.00 RE     TOP: SOFTWARE TESTING
      Sp14 CS   498  00 4.00 RE     INTRO WIRELESS NETWORK PROTOC
        COURSE LIST: CS 3**(X),4**(X)  ECE 455,456,485,486
  - 12) A minimum of 40 of the required 48 upper division
        CS credits must be taken at PSU after admission to
        the CS upper division program
        No more than 4 credits may be taken from CS 401, 405
        406, 407, and 409.  May not include CS 340 or 404
        May not include any CS "U" courses.
          18.00 CREDITS TAKEN
In-Prog->  8.00 CREDITS
         NEEDS:  14.00 CREDITS
  + 13) Complete ECE 341 --
                               1 COURSE TAKEN
      Fa13 ECE  341  00 4.00 A-     INTRO COMPUTER HARDWARE
=================================================================
IP     MAJOR GPA -- must earn a GPA of 2.0 on all courses taken
       in major field, both PSU and transfer --- (excess major
       courses found in the elective area at the bottom of audit)
       Your Major GPA currently is:
    EARNED:                                            3.59 GPA
=================================================================
       Elective credits  - not specifically applied in course
       requirements above--
      Sp09 VOC  CREDIT  3.00 --  >R VOCATIONAL COMP APPLIC SYSTMS
                                    PCC     : CAS  121
      Wi10 VOC  CREDIT  4.00 --  >R VOCATIONAL DRAFT TECH
                                    PCC     : DRF  117
      Sp10 VOC  CREDIT  3.00 --  >R VOCATIONAL ARCH DSN DRFT
                                    PCC     : ARCH 111
      Sp10 VOC  CREDIT  2.00 --  >R VOCATIONAL DRAFT TECH
                                    PCC     : DRF  126
      Fa10 CS   161  00 4.00 A      INTRO COMPUTER SCIENCE I
      Fa10 HST  201     4.00 TP     HISTORY OF THE US I
                                    AP      : AP 07
      Fa10 HST  202     4.00 TP     HISTORY OF THE US II
                                    AP      : AP 07
      Fa10 UNST 114S 00 5.00 B+     WAYS OF KNOWING
      Wi11 MTH  112  00 4.00 A      INTRO COLL MATH II
      Wi11 UNST 115S 00 5.00 A      WAYS OF KNOWING
      Sp11 UNST 116S 00 5.00 A-     WAYS OF KNOWING
      Sp12 MTH  253  00 0.00 D   >X CALCULUS III
=================================================================
    The report is intended as an advising tool to assist
    students in evaluating progress toward a PSU baccalaureate
    degree, minor, or certificate.  While every effort has
    been made to ensure accuracy, errors may occur.  Thus,
    it is the student's responsibility to verify the information
    contained in this audit and to comply with all PSU
    graduation requirements.  Failure to satisfactorily complete
    any in-progress courses may change the audit of degree
    requirements.

    Please note this audit is not a promise or guarantee of
    progress toward a degree, minor or certificate.
    Certification of completion of academic requirements is
    subject to department and University approval.

=================================================================
********************* END OF ANALYSIS *********************
