PREPARED: 04/21/14 - 18:07                          961555240
Hopper, Sarah Katharine                 GRADUATION DATE: XX/XX/XX
PROGRAM CODE: BA-ISEE                        CATALOG YEAR: 201204
                    PORTLAND STATE UNIVERSITY
   Bachelor of Arts - International Studies: European Studies
=================================================================
      ALL REQUIREMENTS IDENTIFIED BELOW HAVE BEEN MET
=================================================================
                     **** LEGEND ****
NO = Requirement Not Complete     >R = Repeatable Course
OK = Requirement Complete         >- = Credit Reduction
IP = Req. Complete with Current   >X = No Credit/No GPA
     Registration (RE courses)    >D = No Credit/Keeps GPA
- = Sub-req Not Complete          DP = Duplicate course
+ = Sub-req Complete                      with credit and GPA
R = Required Sub-requirement     *** = any character
                                      (i.e. MTH*** means
RE = Current Registration Grade         any math course)
-- = Masked Grade (transfer)       LD = Lower Division Hrs
                                   UD = Upper Division Hrs

 IS = Independent Study Course
 T = Precedes Transfer Grade or grades for special credit types
     types such as AP,CLEP, MIL, EXAM, CORR etc.
 TV = Preceeds Combined Grades (transfer courses)

=================================================================
           ---- TOTAL CREDIT HOUR/GPA REQUIREMENT ----

 The "NEEDS CREDITS" value reflects the credits needed to reach
 the minimum total credits required of 180. It does not represent
 a summary of all the credits needed to meet remaining
 requirements !!
OK     Student must complete a minimum of 180 credit hours,
       72 Upper Division credits, and a cumulative GPA of 2.0 ---
    EARNED:187.00 CREDITS             2 SUB-GROUPS

  +  1) Minimum of 72 upper division credit hours required --
        ( 82.00 HOURS TAKEN  )

  +  2) A cumulative GPA of 2.0 on all PSU credit is required.
        Your PSU GPA currently is:
                                                   3.55 GPA

        Maximum number of credits from a 2-year institution
        allowed toward total degree credits is 124 --
          11.00 CREDITS TAKEN
=================================================================
OK     PSU RESIDENCE CREDIT REQUIREMENTS  AND
       PASS/NO PASS LIMITATION
       The status of this requirement may change if additional
       transfer courses/Pass credits are taken in subsequent term
    EARNED:                           2 SUB-GROUPS
  +  1) 45 of last 60 credits must be taken at PSU ---

  + OR) 165 of total credits presented must be taken at PSU ---
         176.00 CREDITS TAKEN
  +  2) 25 of the last 45 credits must be for grade (not P/NP)-
=================================================================
University Writing Requirement ~
All students must complete 2 college-level
composition courses or their approved equivalents.
Writing chosen from WR 121, 200, 211, 222, or 227.
Students entering PSU as Freshman will satisfy
this requirement upon the completion of FRINQ and SINQ
OR the first two years of The University Honors Program.
Students entering PSU with 90 or more credits earned
have the option to substitute one of the following upper
division Writing courses: WR 300, WR 323, WR 324, WR 327,
WR 333, WR 394, WR 400, WR 420 or a 4-credit Writing
Intensive Course (WIC) for one of the required Writing
courses.
=================================================================
University Writing Requirement -- Completed
OK     Writing Requirement
    EARNED:                           2 SUB-GROUPS
  +  1) One lower division Writing course -- Completed
        (  5.00 HOURS TAKEN  ) 1 COURSE TAKEN
      Sp10 UNST 143A 00 5.00 A-     WAYS OF KNOWING
        COURSE LIST: WR 121,200,211,222,227
  +  2) Additional Writing Course -- Completed
                               2 COURSES TAKEN
      Fa10 UNST 212C 00 4.00 A      AMERICAN STUDIES
      Su13 INTL 471  LN 4.00 A      WIC: UNDERSTAND INTL EXP
        COURSE LIST: WR 200,211,222,227,300,323,324,327,333,
           WR 394,400,420
=================================================================
OK     Bachelor of Arts Degree Requirements -- Complete
    EARNED:                           5 SUB-GROUPS
      Sp10 JPN  203  00 5.00 B-     SECOND YEAR JAPANESE
      Wi11 MUS  202  00 4.00 A      INTRO TO MUSIC
      Fa09 GER  101  00 4.00 A      FIRST YEAR GERMAN
      Fa09 JPN  201  00 5.00 B      SECOND YEAR JAPANESE
      Sp10 STAT 243  BU 4.00 C      INTRO PROB & STAT I
      Wi10 SOC  200  00 4.00 A-     INTRO TO SOCIOLOGY
      Fa10 HST  101  DA 4.00 B      HST WESTERN CIV
=================================================================
UNIVERSITY STUDIES REQUIREMENTS (UNST) --
For detailed information on the following general education
requirements see the PSU Bulletin, the quarterly
Class Schedule, or the UNST website at www.ous.pdx.edu.

=================================================================
OK     UNIVERSITY STUDIES - Freshman Inquiry Completed
    EARNED:                           1 SUB-GROUP
          NOTE: RU - UNST PLACEMENT = 0 CR
      Fa09 UNST 141A 00 5.00 A      WAYS OF KNOWING
      Wi10 UNST 142A 00 5.00 A      WAYS OF KNOWING
      Sp10 UNST 143A 00 5.00 A-     WAYS OF KNOWING
=================================================================
OK     UNIVERSITY STUDIES - Sophomore Inquiry Completed
    EARNED:                           3 SUB-GROUPS
      Fa10 UNST 212C 00 4.00 A      AMERICAN STUDIES
      Sp11 UNST 220G 00 4.00 A      UNDERSTANDING COMMUNITIES
      Wi11 UNST 254C W2 4.00 A      POPULAR CULTURE
=================================================================
OK     UNIVERSITY STUDIES - Upper Division Cluster Completed.
    EARNED:                           1 SUB-GROUP
  +  2) American Studies Cluster
        Choose 12 credits --
          12.00 CREDITS TAKEN
      Fa11 HST  340U PA 4.00 B      WM GNDR AMER TO 1848
      Wi12 HST  341U PA 4.00 A-     WMN & GNDR U.S. 1848-1920
      Sp12 HST  342U PA 4.00 B+     WOMEN & GNDR U.S. 1920-PRESEN
=================================================================
OK     UNIVERSITY STUDIES -- Senior Capstone Completed
      Sp13 UNST 421  51 6.00 A      CAP: ARE WE TOO VIOLENT
=================================================================
OK     INTL: EUROPEAN STUDIES MAJOR REQUIREMENTS --
       Complete the following 9 subgroups --
       All courses used in major, whether taken in department
       or elsewhere, must be graded C or above.
    EARNED:                           9 SUB-GROUPS
  +  1) Introductory Courses -- complete both
                               2 COURSES TAKEN
      Sp11 INTL 201  00 4.00 A      INTRO INTERNATIONAL STUDIES
      Sp13 INTL 226C 00 4.00 A-     EUROPEAN STUDIES
  +  2) Foundations of Global Study --
        Complete INTL 390
                               1 COURSE TAKEN
      Fa12 INTL 390  00 4.00 A      FOUNDATIONS OF GLOBAL STUDIES
  +  3) Complete INTL 396 --
                               1 COURSE TAKEN
      Wi12 INTL 396  00 4.00 B+     THE US & THE WORLD
  +  4) Complete INTL 471 --
                               1 COURSE TAKEN
      Su13 INTL 471  LN 4.00 A      WIC: UNDERSTAND INTL EXP
  +  5) Required Seminar - INTL 407 - 4 hours
           4.00 CREDITS TAKEN
      Sp13 INTL 407  00 4.00 A      SEM: LIT OF INTL ESPIONAGE
  +  6) Required Senior International Experience -- 6 hours
          NOTE: RC - COMPLETE PER DEP
  +  7) Connected Global Learning -- 20 hours must be taken
        in advisor-approved courses related to regional or
        thematic focus area.
          NOTE: RC - PS 399 F12 OK PER DEP
          20.00 CREDITS TAKEN
      Fa11 INTL 452  00 4.00 C      THE EUROPEAN UNION
      Sp12 FL   390  00 4.00 B      LANGUAGES OF THE WORLD
                                    PROCESSED AS: WLL  390  001
      Fa12 PS   399  00 4.00 A      SPST: POLITICS OF INTL NGO'S
      Wi13 PS   343  00 4.00 A-     CONFLICT/COOPERATION WRLD POL
      Su13 PHL  350U 00 4.00 A      INTERNATIONAL ETHICS
        COURSE LIST: CCJ 355  ANTH 300,301,305,330,426,432
           EC 340,345,348,350,411,440,441,442,443,447,448,449,
           EC 450,451  ENG 330,449  ESM 355,356  G 352
           GEOG 331,340,346,348,350,352,353,356
           HST 495 [COMPARITIVE WORLD HST]  INTL 490  LING 481
           MUS 374  PHE 444  PHL 310,450  PS 345,371,441,442,
           PS 444,446,447,448,449,452,453,454,455,458,479,483
           SCI 356  SOC 320,350,424,436,444  COMM 415,427
           USP 314,317,445  WS 306,471
  +  8) Regional Focus  --
        20 hours must be taken, advisor approved
          20.00 CREDITS TAKEN
      Wi11 PHL  315  00 4.00 A-     EXISTENTIALISM
      Sp12 HST  315U BD 4.00 B      GREEK HISTORY
      Fa12 HST  316U BT 4.00 A-     ROMAN HISTORY
      Wi13 HST  356U BX 4.00 A-     RENAIS/REFORM EUROPE
      Wi13 HST  460  RH 4.00 A      TOP EUR INT HST:SOCIAL SCI/PH
        COURSE LIST: ANTH 361  ARH 450 [16TH C NORTHERN EUROPE],
           ARH 352,358,359,361,357,371 TO 373,376 TO 378,381,
           ARH 382,491  DANE 346,347,361
           ENG 306 [ROMAN HOLIDAY],306 [BRITISH COMEDY],314,
           ENG 317,319,320,321,330,340,341,343,344,345,411,412,
           ENG 426,441,443,444,447 [MEDIEVAL MYSTICAL WRITERS],
           ENG 448 [SHAKESPEARE],448 [MAJOR VICTORIAN POETS],
           ENG 450  WLL 448 [DOSTOEVSKY]  FR 305,330,335,342,
           FR 419,420,421,426,427,433,441,442  GEOG 354,355,
           GEOG 356  GER 330,341,421,427,428,429,433,441,465
           GRK 330  GER 331,332,333,334,335,336  HST 350,351
           TO 356,357 TO 360,407 [FRANCE IN REVOLUTION],415,
           HST 416,450 TO 454,456,458 TO 460,465 TO 468,475 TO
           HST 478,485,486,497  INTL 351,352,452,460 OR
           PS 460  INTL 461 OR PS 461  IT 330,342  LAT 330,341
           MUS 304,305,486,487  PHL 451,460  PS 352,385,452
           RUS 421,427,433,441,442  SPAN 330,341,342,421,422,
           SPAN 423,434  WS 443  TUR 330,331,341,361
  +  9) Complete 3 years of language study appropriate to
        the regional focus --
                               1 COURSE TAKEN
      Wi12 GER  302  00 4.00 B+     READING AND WRITING
        COURSE LIST: FR 303  IT 302  RUS 303  SPAN 303  TUR 303
=================================================================
OK     MAJOR GPA -- must earn a GPA of 2.0 on all courses taken
       in major field, both PSU and transfer - (excess major
       courses found in the elective area at the bottom of audit)
       Your Major GPA currently is:
    EARNED:                                            3.50 GPA
=================================================================
       Elective credits  - not specifically applied in course
       requirements above--
      Sp07 VOC  CREDIT  3.00 --  >R VOCATIONAL COMP APPLIC SYSTMS
                                    PCC     : CAS  121
      Sp08 PHE  252     4.00 TB     FIRST AID
                                    PCC     : HE   252
      Sp08 VOC  CREDIT  4.00 --  >R VOCATIONAL MEDICAL PROFESSNS
                                    PCC     : MP   111
      Wi10 GER  102  00 4.00 A-     FIRST YEAR GERMAN
      Wi10 JPN  202  00 5.00 B-     SECOND YEAR JAPANESE
      Sp10 GER  103  00 4.00 B      FIRST YEAR GERMAN
      Fa10 FR   101  00 4.00 A-     FIRST YEAR FRENCH
      Fa10 GER  201  00 4.00 A      SECOND YEAR GERMAN
      Wi11 GER  202  00 4.00 A      SECOND YEAR GERMAN
      Sp11 GER  203  00 4.00 A      SECOND YEAR GERMAN
      Fa11 GER  301  00 4.00 B+     LISTENING & SPEAKING
=================================================================
       Graduate Level Courses Reserved for Graduate Degree
       (see Office of Degree Requirements if you want these
       courses to apply to Undergraduate Degree)

      Fa13 CR   512  HA 4.00 A      PERSPECTIVES IN CR
      Fa13 CR   515  00 4.00 B+     NEGOTIATION & MEDIATION
      Fa13 CR   522  TP 1.00 P      THESIS PREP SEMINAR
      Wi14 CR   507  AB 2.00 A      SEM:RESERACH METHOD 1 INTRO
      Wi14 CR   509  RC 1.00 P   >R PRACTICUM
      Wi14 CR   524  S0 4.00 A      ADVANCED MEDIATION
      Sp14 CR   509  RC 1.00 RE  >R PRACTICUM
      Sp14 CR   513  RG 4.00 RE     PHILOSOPHY OF CR

=================================================================
    The report is intended as an advising tool to assist
    students in evaluating progress toward a PSU baccalaureate
    degree, minor, or certificate.  While every effort has
    been made to ensure accuracy, errors may occur.  Thus,
    it is the student's responsibility to verify the information
    contained in this audit and to comply with all PSU
    graduation requirements.  Failure to satisfactorily complete
    any in-progress courses may change the audit of degree
    requirements.

    Please note this audit is not a promise or guarantee of
    progress toward a degree, minor or certificate.
    Certification of completion of academic requirements is
    subject to department and University approval.

=================================================================
********************* END OF ANALYSIS *********************
